/*.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/

html, body, #container, .carousel {
  height:100%;
  margin: 0;
  width: 100%;
}

.image-slide {
  height: 100vh;
  width: 100vw;
  transition: background-image .3s ease-in-out;
}

.slide-arrow {
  color: #14B6D4;
  cursor: pointer;
  font-size: 2rem;
  position: fixed;
  top: 50%;
}

.slide-arrow.right {
  right: 1rem;
}

.slide-arrow.left {
  left: 1rem;
}
